.teacherListContainer {
  width: 100%;
  min-height: 90vh;
  padding-top: 10rem;
  display: flex;
}

.sidebar {
  flex-basis: 20%;
  border-right: 1px solid grey;
  box-sizing: border-box;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
}

.searchbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterButton {
  display: none;
}

.teachersContainer {
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* media queries */

@media screen and (max-width: 1400px) {
  .sidebar {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 1300px) {
  .teacherListContainer {
    position: relative;
    display: block;
  }

  .sidebar {
    width: 40%;
    height: 100vh;
    position: absolute;
    background-color: whitesmoke;
    z-index: 10;
    left: -100%;
    border: 1px solid grey;
  }

  .filterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .sidebar_active {
    width: 40%;
    height: 100vh;
    position: absolute;
    background-color: whitesmoke;
    z-index: 10;
    left: 0;
    border: 1px solid grey;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 40%;
    height: 100vh;
    position: absolute;
    background-color: whitesmoke;
    z-index: 10;
    left: -100%;
    border: 1px solid grey;
  }

  .sidebar_active {
    width: 60%;
    height: 67vh;
    position: absolute;
    background-color: whitesmoke;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid grey;
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 40%;
    height: 100vh;
    position: absolute;
    background-color: whitesmoke;
    z-index: 10;
    left: -100%;
    border: 1px solid grey;
  }

  .sidebar_active {
    width: 80%;
    height: 100vh;
    position: absolute;
    background-color: whitesmoke;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid grey;
  }

  .filterButton {
    padding: 0.4rem;
  }
}
