.navContainer {
  display: flex;
  width: 100vw;
  min-width: 100%;
  padding: 0 2rem;
  position: fixed;
  z-index: 1000;
  color: white;
}

.navContainer_scrolled {
  display: flex;
  width: 100vw;
  min-width: 100%;
  padding: 0 2rem;
  position: fixed;
  background: linear-gradient(to bottom, #1878c7 0%, #ff99cc 100%);

  background-color: white;
  box-shadow: var(--shadow);
  color: white;
  z-index: 1000;
}

.logoContainer {
  flex-basis: 30%;
  margin-left: 20px;
}

.navigationBarContainer {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  color: inherit;
}

.navigationBarContainer > li {
  list-style: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.navigationBarContainer > li:hover {
  transform: scale(1.05);
}

.joinButton {
  padding: 1rem 2rem;
  background-image: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.5rem;
  border-radius: 39px;
  color: inherit;
  box-shadow: inset 8px 8px 18px ##00b09b, inset -8px -8px 18px #96c93d;
  cursor: pointer;
}

.actionContainer {
  display: flex;
  gap: 3rem;
}

.logoContainer > h1 {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  color: inherit;
}

.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 2rem;
  align-self: center;
  color: inherit;
  cursor: pointer;
  /* background-color: red; */
}

.actionButton > h3 {
  padding: 0;
  margin: 0;
}

.avatar {
  position: relative;
}

.dropDownMenu {
  position: absolute;
  right: 0%;
}

.dropDownList {
  list-style: none;
  color: black;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  animation: slideIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
}

.dropDownList > li > a {
  font-size: 1.4rem;
  display: block;
  width: 17rem;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.imageModal {
  background-color: white;
  width: 35vw;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.btnUpload {
  display: block;
  width: 70%;
  margin: auto;
  padding: 1rem;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 100px;
  border: none;
  background-color: rgb(25, 89, 228);
  color: white;
}

@keyframes slideIn {
  0% {
    margin-top: -10px;
  }

  100% {
    margin-top: 0px;
  }
}

.dropDownList > li > a:hover {
  background-color: rgb(228, 224, 224);
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-color: red; */
}

.actionButton > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.actionButton_signup {
  border-width: 2;
  border-style: solid;
  border-color: inherit;
  border-radius: 0.4rem;
}

.chatIconContainer {
  position: relative;
  transition: all 0.2s;
}

.menuItemWithBadge {
  position: relative;
}

.badge {
  position: absolute;
  background-color: orangered;
  padding: 0.4rem;
  border-radius: 100%;
  top: -30%;
  left: 85%;
  font-size: 0.6rem;
}

.chatIconContainer:hover {
  transform: scale(1.09);
}

/* media queries */

@media screen and (max-width: 1500px) {
  .navigationBarContainer > li {
    font-size: 1.3rem;
  }

  .joinButton {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }

  .actionButton > h3 {
    font-size: 1rem;
  }

  .actionButton_signup {
    border-width: 1;
    border-style: solid;
    border-color: inherit;
    border-radius: 0.4rem;
  }
}

@media screen and (max-width: 1600px) {
  .navigationBarContainer {
    flex-basis: 70%;
    gap: 2.4rem;
    /* background-color: red; */
  }
  .navigationBarContainer > li {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .navigationBarContainer {
    flex-basis: 70%;
    gap: 1.5rem;
  }
  .navigationBarContainer > li {
    font-size: 1rem;
  }
}

/* @media screen and (max-width: 1000px) {
  .navigationBarContainer {
    flex-basis: 70%;
    gap: 1.5rem;
    background-color: red;
  }
  .navigationBarContainer > li {
    font-size: 0.8rem;
  }
} */
