.addMoreButton {
  padding: 1rem 1.4rem;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-color: rgb(21, 92, 223);
  color: white;
  display: block;
  margin: 2rem;
}
