.filterContainer {
  width: 100%;
  height: 309px;
  padding: 4rem;
  padding-left: 6rem;
}

.categoryDisplay > h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

.categoryDisplayContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filterHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterHeaderContainer > h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

.clearAllButton {
  padding: 0.8rem 1rem;
  border-radius: 1000px;
  border: 1px solid grey;
}

.closeContainer {
  display: none;
}

.applyButton {
  width: 80%;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: none;
  background-color: rgb(44, 106, 220);
  color: white;
  border-radius: 100px;
  margin-top: 1rem;
}

.applyButton:hover {
  background-color: rgb(12, 68, 170);
}

/* media queries */

@media screen and (max-width: 1600px) {
  .filterContainer {
    padding: 4rem 1.5rem;
  }

  .filterHeaderContainer > h3 {
    font-size: 1.4rem;
  }
  .categoryDisplay > h3 {
    font-size: 1.4rem;
  }

  .clearAllButton {
    padding: 0.4rem 0.5rem;
  }
}

/* media query */

@media screen and (max-width: 1300px) {
  .closeContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
