.postForm {
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: red;
}

.postButton {
  flex-grow: 1;
  padding: 1.5rem;
  text-align: left;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 30px;
  color: gray;
}

.formBox {
  /* padding: 0 1rem; */
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: 40vw;
}

.titleWrapper {
  width: 100%;
  /* padding: 0rem 0.5rem; */
  border-bottom: 1px solid lightgray;
  /* background-color: blue; */
}

.titleWrapper > h3 {
  font-size: 2rem;
  padding: 0.6rem;
  margin: 0;
  font-weight: normal;
  /* background-color: red; */
}

.fieldWrapper {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0%;
  /* background-color: red; */
  font-size: 1rem;
  margin: 0%;
}

.fieldWrapper_flex {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.fieldWrapper_flex > div {
  width: 45%;
  margin: auto;
}

.fieldLabel {
  font-size: 1.5rem;
  padding: 5px 0;
  /* background-color: red; */
  display: inline-block;
}

.field {
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
}

.fieldHeading {
  font-size: 1.5rem;
  padding: 5px 1rem;
}

.feesInputWrapper {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  margin-top: 1rem;
  /* background-color: red; */
}

.currency {
  padding: 1rem;
  font-size: 1.5rem;
  border-right: 1px solid gray;
}

.feesInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.categoryWrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  /* background-color: red; */
}

.subjectField {
  width: 100%;
  padding: 1rem;
  border: 1px solid gray;
  font-size: inherit;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  flex-wrap: wrap;
  overflow-wrap: normal;
}

.subjectFieldInput {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 1rem;

  /* min-width: 30px;
  overflow-x: visible; */
}

.buttonWrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.submitButton {
  padding: 1rem 6rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
}

.cancelButton {
  padding: 1rem 4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
  background-color: inherit;
  /* background-color: green; */
  /* color: white; */
}

.optionWrapper {
  width: 50vw;
  height: 50vh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.optionWrapper > h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

.option {
  width: 30%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option > h3 {
  font-size: 2rem;
  font-weight: normal;
}

.option:hover {
  background-color: lightskyblue;
}

.optionButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 20%;
}

.inputField {
  width: 100%;
  display: block;
  padding: 1rem;
}
