.postForm {
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.backHeader {
  width: 100%;
  height: 15vh;

  background-color: white;
  display: flex;
  align-items: center;
  padding: 6rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: red;
}

.postButton {
  flex-grow: 1;
  padding: 1.5rem;
  text-align: left;
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 30px;
  color: gray;
}

.formBox {
  /* padding: 0 1rem; */
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: 40vw;
  max-height: 80vh;
  overflow-y: scroll;
}

.titleWrapper {
  width: 100%;
  /* padding: 0rem 0.5rem; */
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: blue; */
}

.titleWrapper > h3 {
  font-size: 2rem;
  padding: 0.6rem;
  margin: 0;
  font-weight: normal;
  /* background-color: red; */
}

.fieldWrapper {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0%;
  /* background-color: red; */
  font-size: 1rem;
  margin: 0%;
}

.fieldWrapper_flex {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.fieldWrapper_flex > div {
  width: 45%;
  margin: auto;
}

.fieldLabel {
  font-size: 1.5rem;
  padding: 5px 0;
  /* background-color: red; */
  display: inline-block;
}

.field {
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
}

.field:focus {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.fieldHeading {
  font-size: 1.5rem;
  padding: 5px 1rem;
}

.feesInputWrapper {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  margin-top: 1rem;
  /* background-color: red; */
}

.feesInputWrapper:focus-within {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.currency {
  padding: 1rem;
  font-size: 1.5rem;
  border-right: 1px solid gray;
}

.feesInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.feesInput::-webkit-outer-spin-button,
.feesInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.feesInput[type="number"] {
  -moz-appearance: textfield;
}

.categoryWrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  /* background-color: red; */
}

.subjectField {
  width: 100%;
  padding: 1rem;
  border: 1px solid gray;
  font-size: inherit;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
  flex-wrap: wrap;
  overflow-wrap: normal;
}

.subjectField:focus-within {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.subjectFieldInput {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 1rem;

  /* min-width: 30px;
  overflow-x: visible; */
}

.buttonWrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.submitButton {
  /* padding: 1rem 6rem; */
  padding: 1rem 0;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  flex-basis: 30%;
}

.cancelButton {
  /* padding: 1rem 4rem; */
  padding: 1rem 0;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
  background-color: inherit;
  /* background-color: green; */
  /* color: white; */
  flex-basis: 20%;
}

.optionWrapper {
  width: 50vw;
  height: 50vh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.optionWrapper > h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

.option {
  width: 30%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option > h3 {
  font-size: 2rem;
  font-weight: normal;
}

.option:hover {
  background-color: lightskyblue;
}

.optionButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 20%;
}

.inputField {
  width: 100%;
  display: block;
  padding: 1rem;
}

.inputField:focus {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.optionsWrapper {
  width: 100%;
  height: 100px;
  background-color: green;
}

.avatarPlaceholder {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  border: 1px solid lightgray;
}

@media only screen and (max-width: 1200px) {
  .optionWrapper {
    width: 70vw;
  }

  .formBox {
    width: 60vw;
  }
}

@media only screen and (max-width: 900px) {
  .optionWrapper {
    width: 80vw;
  }

  .formBox {
    width: 80vw;
  }

  .fieldLabel {
    font-size: 1rem;
  }

  .fieldHeading {
    font-size: 1rem;
  }

  .fieldWrapper {
    padding: 1.2rem 1rem 0 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .optionWrapper {
    width: 100vw;
    height: 100vh;
    /* flex-direction: column; */
  }
  .formBox {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  .optionButtonWrapper {
    flex-direction: column;
  }

  .option {
    width: 0%;
    padding: 1rem 8rem;
  }

  .option > * {
    /* font-size: 2rem; */
    padding: 0;
    margin: 0;
  }

  .option > h3 {
    font-size: 1.5rem;
    /* color: red; */
  }

  .buttonWrapper {
    width: 100%;
  }

  .submitButton {
    flex-basis: 60%;
  }

  .cancelButton {
    flex-basis: 40%;
  }
}
