.reviewItemContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 5rem;
  height: 5rem;
  /* background-color: red; */
  border-radius: 100%;
}

.reviewContentContainer {
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 5px;
  flex-basis: 95%;
}

.reviewContentContainer > * {
  margin: 0;
  padding: 0;
}

.reviewContentContainer > h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

.reviewContentContainer > p {
  font-size: 1.3rem;
}

.reviewStarsAndDateContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.reviewStarsAndDateContainer > p {
  font-size: 1rem;
  color: grey;
}

/* media queries */
@media screen and (max-width: 1000px) {
  .reviewContentContainer > h4 {
    font-size: 1.2rem;
  }

  .reviewContentContainer > p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  .reviewContentContainer > h4 {
    font-size: 1.1rem;
  }

  .reviewContentContainer > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .reviewContentContainer > h4 {
    font-size: 1rem;
  }
  .reviewContentContainer {
    flex-basis: 80%;
    width: 70%;
    /* background-color: red; */
  }
  .reviewContentContainer > p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .reviewContentContainer > h4 {
    font-size: 1rem;
  }
  .reviewContentContainer {
    flex-basis: 73%;
    /* width: 70%; */
    /* background-color: red; */
  }
  .reviewContentContainer > p {
    font-size: 0.8rem;
  }
}
