.searchContainer {
  padding: 1rem;
  background-color: white;
  display: flex;
  width: 70%;
  align-items: center;
  /* gap: 1rem; */
}

.wrapper {
  /* padding: 1rem; */
  font-size: 1.3rem;
  flex-basis: 95%;
  position: relative;
}

.wrapper > input {
  padding: 1rem;
  font-size: 1.3rem;
  width: 100%;
  border: 1px solid black;
}

.suggestion_box {
  position: absolute;
}

.suggestion_box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 1;
  display: none;
}

.suggestion_box a {
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 2px 0;
}

.suggestion_box a:hover {
  background-color: rgb(216, 216, 216);
}

/* .wrapper:hover.suggestion_box {
  display: flex;
} */

.searchContainer > button {
  font-size: 3rem;
  /* padding: 1rem; */
  border: none;
  /* border: 1px solid grey; */
  background-color: transparent;
  flex-basis: 8%;
  /* border-radius: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .searchContainer {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .searchContainer {
    width: 90%;
  }

  .searchContainer > button {
    /* font-size: 10px; */
  }
}
