.searchContainer {
  padding: 1rem;
  background-color: white;
  display: flex;

  width: 70%;
}

.searchContainer > input {
  padding: 1rem;
  font-size: 1.3rem;
  flex-basis: 95%;
}

.searchContainer > button {
  padding: 1rem;
  border: none;
  border: 1px solid grey;
  flex-basis: 8%;
}

@media screen and (max-width: 1050px) {
  .searchContainer {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .searchContainer {
    width: 90%;
  }

  .searchContainer > button {
    font-size: 10px;
  }
}
