.serviceCardContainer {
  width: 40rem;
  /* border-radius: 50px; */
  background-color: white;
  /* box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff; */
  border-radius: 37px;
  /* background: #e0e0e0; */
  box-shadow: 41px 41px 83px #d5d5d5, -41px -41px 83px #ebebeb;
}

.serviceImageContainer {
  width: 100%;
  height: 30rem;
  background-image: url("../../assets/heroImage.png");
  background-size: cover;
  /* background-position: top; */
  clip-path: polygon(100% 0, 100% 54%, 0 84%, 0 0);
}

.serviceLabelContainer {
  width: 100%;
  text-align: center;
  padding: 0;
  margin-top: -10rem;
  position: relative;
}

.serviceLabelContainer > h4 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0.7rem 4rem;
  background-color: var(--theme-primary-color);
  display: inline-block;
  border-radius: 0.4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.serviceHeaderContainer {
  width: 100%;
  text-align: center;
}

.serviceHeaderContainer > h2 {
  font-size: 2.6rem;
  font-weight: 400;
}

.descriptionContainer {
  width: 100%;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.descriptionContainer > p {
  font-size: 1.4rem;
}

.searchButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 3rem 0;
}

.searchButton {
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
}

.searchButton:hover {
  color: var(--theme-secondary-color);
  gap: 1.3rem;
  border: 1px solid var(--theme-secondary-color);
  transform: scale(1.03);
}

/* media queries */

@media screen and (max-width: 1100px) {
  .serviceCardContainer {
    width: 25rem;
  }

  .serviceImageContainer {
    height: 20rem;
    width: 100%;
  }

  .serviceLabelContainer {
    margin-top: -7rem;
  }
  .serviceLabelContainer > h4 {
    font-size: 1rem;
  }

  .serviceHeaderContainer > h2 {
    font-size: 1.9rem;
  }

  .descriptionContainer > p {
    font-size: 1rem;
  }

  .searchButton {
    padding: 1rem;
    font-size: 1rem;
  }
}

/* this media query is comment out to be used later if need */

/* 
@media screen and (max-width: 750px) {
  .serviceCardContainer {
    width: 18rem;
  }

  .serviceImageContainer {
    height: 14rem;
    width: 100%;
  }

  .serviceLabelContainer {
    margin-top: -5rem;
  }
  .serviceLabelContainer > h4 {
    font-size: 0.7rem;
  }

  .serviceHeaderContainer > h2 {
    font-size: 1.5rem;
  }

  .descriptionContainer > p {
    font-size: 0.8rem;
  }

  .searchButton {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
} */
