.subjectContainer {
  padding: 0 1rem;
  flex-basis: 50%;
}

.subjectContainer > h3 {
  font-size: 1.6rem;
  color: grey;
}

.subjectNameDisplay {
  padding: 1rem;
  background-color: dodgerblue;
  color: white;
  list-style: none;
  font-size: 1.4rem;
  border-radius: 6px;
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subjectNameDisplay > h3 {
  margin: 0;
  font-weight: 500;
}
.demoButton {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 1.2rem;
  border-radius: 100px;
  color: white;
  font-size: 1rem;
}

.demoButton:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}
