.teacherCredentialContainer {
  padding: 2rem;
  background-color: var(--theme-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex-basis: 40%;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconTextContainer > p {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
