.teacherCredentialContainer {
  padding: 2rem;
  background-color: var(--theme-background-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex-basis: 40%;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconTextContainer > p {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 1.4rem;
  color: grey;
  margin: 0;
  font-weight: 100;
  margin-top: 0.45rem;
}

.certificateContainer {
  display: flex;
  justify-content: space-between;
}

.certificateButton {
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 100px;
  font-size: 0.85rem;
}

.certificateButton:hover {
  background-color: var(--theme-primary-color);
  border: 1px solid var(--theme-primary-color);
  color: white;
}

/* media queries */

@media screen and (max-width: 1150px) {
  .heading {
    font-size: 1.2rem;
  }

  .iconTextContainer > p {
    font-size: 1rem;
  }
}
