.teacherHeaderContainer {
  background-color: var(--theme-background-color);
  padding-bottom: 1rem;
  border-radius: 4px;
}

.coverImage {
  width: 100%;
  height: 40rem;
  background-image: url("../../assets/cover.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.profilePicture {
  width: 20rem;
  height: 20rem;
  /* background-color: red; */
  border-radius: 100%;
  margin: auto;
  margin-top: -18rem;
  border: 3px solid white;
  background-image: url("../../assets/user.jpg");
  background-size: cover;
  background-position: center;
}

.namePlate {
  width: 100%;
  text-align: center;
}

.namePlate > h3 {
  margin: auto;
  margin-top: 1rem;
  font-size: 3rem;
}

.description {
  width: 80%;
  margin: auto;
  text-align: center;
}

.description > p {
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.phoneNumberButton {
  background-color: whitesmoke;
  padding: 1rem 1.3rem;
  border: none;
  display: flex;
  font-size: 1.5rem;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.chatButton {
  background-color: rgb(55, 119, 238);
  padding: 1rem 1.3rem;
  border: none;
  display: flex;
  font-size: 1.5rem;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: white;
}

.phoneNumberButton:hover {
  background-color: rgb(212, 209, 209);
}

.chatButton:hover {
  background-color: rgb(42, 109, 233);
}

.ratingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.4rem 0;
  align-items: center;
  gap: 0.3rem;
}

.ratingContainer > p {
  font-size: 1rem;
}

.numberFormContainer {
  background-color: white;
  padding: 1rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.revealNumberButton {
  padding: 1rem 2rem;
  background-color: rgb(55, 119, 238);
  color: white;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
}

.closeButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
