.formController {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.formController > label {
  font-size: 1.3rem;
}

.formController > textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  font-family: inherit;
  resize: none;
  /* white-space: pre; */
  white-space: initial;
}

.formController > textarea:focus {
  box-shadow: 0 0 2px 2px dodgerblue;

  outline: none;
  border: none;
}
