.formController {
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 100%;
  display: block;
  padding: 1rem;
}

.inputField:focus {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.optionsWrapper {
  width: 100%;
  height: 100px;
  background-color: green;
}

.formController label {
  font-size: 1.4rem;
  padding: 0.6rem 0;
}

.formController input {
  padding: 0.6rem;
  width: 90%;
  font-size: 1.4rem;
}

.formController input:focus {
  outline: 1.3px solid blue;
}

.feesInputWrapper {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  margin-top: 1rem;
  /* background-color: red; */
}

.feesInputWrapper:focus-within {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.currency {
  padding: 1rem;
  font-size: 1.5rem;
  border-right: 1px solid gray;
}

.feesInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.feesInput::-webkit-outer-spin-button,
.feesInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.feesInput[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 1200px) {
  .optionWrapper {
    width: 70vw;
  }

  .formBox {
    width: 60vw;
  }
}

@media only screen and (max-width: 900px) {
  .optionWrapper {
    width: 80vw;
  }

  .formBox {
    width: 80vw;
  }

  .fieldLabel {
    font-size: 1rem;
  }

  .fieldHeading {
    font-size: 1rem;
  }

  .fieldWrapper {
    padding: 1.2rem 1rem 0 1rem;
  }
}

.fieldWrapper {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0%;
  /* background-color: red; */
  font-size: 1rem;
  margin: 0%;
}

.fieldWrapper_flex {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.fieldWrapper_flex > div {
  width: 45%;
  margin: auto;
}

.fieldLabel {
  font-size: 1.5rem;
  padding: 5px 0;
  /* background-color: red; */
  display: inline-block;
}

.field {
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
}

.field:focus {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.fieldHeading {
  font-size: 1.5rem;
  padding: 5px 1rem;
}

.feesInputWrapper {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  margin-top: 1rem;
  /* background-color: red; */
}

.feesInputWrapper:focus-within {
  box-shadow: 0 0 2px 2px dodgerblue;
  outline: none;
  border: none;
}

.currency {
  padding: 1rem;
  font-size: 1.5rem;
  border-right: 1px solid gray;
}

.feesInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
}

@media only screen and (max-width: 600px) {
  .optionWrapper {
    width: 100vw;
    height: 100vh;
    /* flex-direction: column; */
  }
  .formBox {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  .optionButtonWrapper {
    flex-direction: column;
  }

  .option {
    width: 0%;
    padding: 1rem 8rem;
  }

  .option > * {
    /* font-size: 2rem; */
    padding: 0;
    margin: 0;
  }

  .option > h3 {
    font-size: 1.5rem;
    /* color: red; */
  }

  .buttonWrapper {
    width: 100%;
  }

  .submitButton {
    flex-basis: 60%;
  }

  .cancelButton {
    flex-basis: 40%;
  }
}
