.youtubeVideoContainer {
  flex-grow: 1;
}

@media screen and (max-width: 950px) {
  .youtubeVideoContainer {
    height: 50vh;
  }
}

@media screen and (max-width: 650px) {
  .youtubeVideoContainer {
    height: 40vh;
  }
}

@media screen and (max-width: 500px) {
  .youtubeVideoContainer {
    height: 35vh;
  }
}

@media screen and (max-width: 350px) {
  .youtubeVideoContainer {
    height: 28vh;
  }
}

@media screen and (max-width: 350px) {
  .youtubeVideoContainer {
    height: 25vh;
  }
}
