.rightContainer {
  flex-basis: 50%;
  padding: 1rem 3rem;
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--theme-primary-color);
}

.welcome {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0;
}

.description {
  font-size: 1.3rem;
  color: grey;
}

.buttonContainer {
  padding: 1.4rem;
  display: flex;
  gap: 2rem;
}

.signupButton {
  background-image: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  padding: 1.3rem 2rem;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1.2rem;
}

.loginButton {
  padding: 1.3rem 2rem;
  border: none;
  color: black;
  border-radius: 4px;
  font-size: 1.2rem;
}

.socialLoginText {
  font-size: 1.2rem;
}

.socialButtonsContainer {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
}

.fbButton {
  padding: 1rem;
  background-color: darkslateblue;
  height: 100%;
  align-items: center;
  color: white;
  display: flex;
  align-self: stretch;
  flex-basis: 70%;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
}

/* media queries */

@media screen and (max-width: 1400px) {
  .middleContainer {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .middleContainer {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .middleContainer {
    width: 80%;
    /* max-width: 60%; */
  }

  .leftContainer {
    display: none;
  }

  .rightContainer {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 760px) {
  .middleContainer {
    width: 80%;
    max-width: 80%;
  }

  .leftContainer {
    display: none;
  }

  .rightContainer {
    flex-basis: 100%;
    padding: 1rem 1rem;
  }

  .welcome {
    font-size: 2rem;
  }
}

@media screen and (max-width: 300px) {
  .middleContainer {
    width: 100%;
    max-width: 80%;
  }

  .leftContainer {
    display: none;
  }

  .rightContainer {
    flex-basis: 100%;
    padding: 1rem 0rem;
  }

  .welcome {
    font-size: 1.5rem;
  }
}
